<mat-card class="example-card">
  <mat-card-content> 
<button (click) = "toItems()">
Items
</button>


<button *ngIf="authService.user | async" (click) = "logOut()">
  logout
 </button>
 
 
 <button *ngIf="!(authService.user | async)" (click) = "toLogin()">
  Login
 </button>
</mat-card-content>
</mat-card>
